.menunav_cont-dark {
  position: fixed;
  width: 45vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  text-align: center;
  cursor: pointer;
}

.menunav_cont-light {
  position: fixed;
  width: 45vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  text-align: center;
  cursor: pointer;
}

.menunav_data__cont {
  margin-top: 7rem;
}

.menunav_cont-light h3:nth-child(1),
.menunav_cont-dark h3:nth-child(1) {
  margin-top: 4rem;
}

.menunav_close {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.menunav_msg-dark {
  position: fixed;
  width: 25vw;
  bottom: 1rem;
  left: 3rem;
  color: white;
  z-index: 1001;
}

.menunav_msg-light {
  position: fixed;
  width: 25vw;
  bottom: 1rem;
  left: 3rem;
  color: black;
  z-index: 1001;
}

@media (max-width: 60rem) {
  .menunav_cont-dark {
    display: block;
  }
  .menunav_cont-light {
    display: block;
  }
}
