body {
  background: white;
}

.whiteBack {
}

.blackBack {
}

.sidenav_cont {
  position: fixed;
  right: 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 60rem) {
  .sidenav_cont {
    display: none;
  }
}
