#projects {
  scroll-margin-top: 2rem;
}

@media (max-width: 60rem) {
  #projects {
    scroll-margin-top: 5rem;
  }
}

.projects_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
