.thememode_cont {
  width: 3rem;
  height: 3rem;
  text-align: center;
  border-radius: 50%;
}

.thememode_cont:hover {
  cursor: pointer;
}

.theme_svg {
  width: 100%;
  height: 100%;
  padding: 0.2rem;
}

.theme_msg {
  position: absolute;
  top: 0;
  right: 2rem;
  font-size: 0.7rem;
  width: 5rem;
  background: rgb(128, 128, 128);
  color: white;
  border-radius: 12px;
  padding: 0.5rem;
  margin-right: 1rem;
  display: none;
}

.thememode_cont:hover .theme_msg {
  display: block;
}

@media (max-width: 60rem) {
  .thememode_cont {
    top: 1rem;
    right: 2rem;
  }
}

.menu_cont {
  width: 3rem;
  height: 3rem;
  display: none;
  z-index: 100;
  cursor: pointer;
}

.menu_svg {
  width: 100%;
  height: 100%;
  padding: 0.2rem;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: none;
}

@media (max-width: 60rem) {
  .menu_cont {
    display: block;
  }
  #backdrop {
    display: block;
  }
}

.topnavbar_cont-dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0.5rem 2rem;
  background-color: rgba(29, 28, 29, 0.8);
  display: none;
}

.topnavbar_cont-light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  display: none;
}

@media (max-width: 60rem) {
  .topnavbar_cont-dark,
  .topnavbar_cont-light {
    display: flex;
  }
}

@media (min-width: 60rem) {
  .topnavbar_cont-dark,
  .topnavbar_cont-light {
    position: static;
    display: block;
  }
  .thememode_cont {
    position: fixed;
    top: 1rem;
    right: 3.5rem;
    z-index: 1002;
  }
}
